* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url(./pictures/background.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: #333;
}

.description,
.requirement,
.gallery {
  background-color: white;
  margin-top: 20px;
  padding: 20px;
}

.gallery img {
  width: 180px;
  height: 150px;
  margin-bottom: 10px;
}

.unordered {
  list-style: square;
}